// Light mode colors
$primary   : #8C2155 // Blue
$secondary : #AF7595 // Teal
$accent    : #2F2963 // Purple

$positive  : #AED4E6 // Green
$negative  : #1AC8ED // Red
$info      : #5C1A1B // Light Blue
$warning   : #F2C037 // Yellow

// Dark mode colors
$primary-dark   : #8C2155 // Lighter Blue for dark mode
$secondary-dark : #AF7595 // Lighter Teal
$accent-dark    : #2F2963 // Lighter Purple

$dark      : #1a202c // Tailwind's gray.800 - For dark elements on dark backgrounds
$dark-page : #121212 // Very dark background for pages

$positive-dark  : #AED4E6 // Slightly lighter Green
$negative-dark  : #E57373 // Lighter Red
$info-dark      : #4FC3F7 // Lighter Info Blue
$warning-dark   : #FFB74D // Lighter Yellow

// Applying dark mode colors using Quasar's built-in mechanism
.body--dark
  --q-primary: #{$primary-dark}
  --q-secondary: #{$secondary-dark}
  --q-accent: #{$accent-dark}

  --q-dark: #{$dark-page} // Page background in dark mode
  --q-dark-page: #{$dark-page}

  --q-positive: #{$positive-dark}
  --q-negative: #{$negative-dark}
  --q-info: #{$info-dark}
  --q-warning: #{$warning-dark}

  // Adjusting text colors for dark mode for better readability
  // You might need to adjust these based on your specific components and text usage
  --q-text-color: #e2e8f0 // Default text color for dark mode
  --q-text-color-primary: #{$primary-dark}
  --q-text-color-secondary: #{$secondary-dark}
  --q-text-color-accent: #{$accent-dark}
  --q-text-color-positive: #{$positive-dark}
  --q-text-color-negative: #{$negative-dark}
  --q-text-color-info: #{$info-dark}
  --q-text-color-warning: #{$warning-dark}
  --q-text-color-dark: #e2e8f0

  // Example for card background in dark mode
  .q-card
    background-color: $dark // Using the $dark variable for card backgrounds
    color: var(--q-text-color)

  // Example for toolbar background in dark mode
  .q-toolbar
    // background-color: lighten($dark-page, 5%) // Slightly lighter than page background
    color: var(--q-text-color)

  // Ensure buttons have good contrast
  .q-btn--standard
    color: var(--q-text-color)
    // For primary, secondary, etc. buttons, Quasar usually handles text color based on background
    // But you can override if needed

  .q-banner
    &.bg-negative
      background: $negative-dark !important
      color: #fff !important // Ensure text is readable on dark negative banner
    &.bg-positive
      background: $positive-dark !important
      color: #000 !important // Ensure text is readable on dark positive banner
    &.bg-info
      background: $info-dark !important
      color: #000 !important
    &.bg-warning
      background: $warning-dark !important
      color: #000 !important
