@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f9fafb;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Dark mode styles */
.dark body {
  background-color: #1a202c; /* A common dark background color */
  color: #e2e8f0; /* A common light text color for dark mode */
}

.dark ::-webkit-scrollbar-track {
  background: #2d3748; /* Darker scrollbar track */
}

.dark ::-webkit-scrollbar-thumb {
  background: #4a5568; /* Darker scrollbar thumb */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #718096; /* Even darker scrollbar thumb on hover */
}

.dark button {
  background-color: #2d3748; /* Darker button background */
  color: #e2e8f0; /* Light text for buttons in dark mode */
}

.dark button:hover {
  background-color: #4a5568; /* Slightly lighter button background on hover */
}

.dark .card {
  background-color: #2d3748; /* Dark card background */
  color: #e2e8f0; /* Light text for cards in dark mode */
}

.dark a {
  color: #63b3ed; /* A lighter blue for links in dark mode */
}

.dark a:hover {
  color: #90cdf4; /* Even lighter blue for links on hover in dark mode */
}
